<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<title> Informa&ccedil;&otilde;es dos Distritos | Inscri&ccedil;&atilde;o Metodista </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" id="register" href="{{ STATIC_URL }}css/register.css" type="text/css" media="all">
</head>



<body class="register">
	<div id="register">
		<center>
		<h1> Informa&ccedil;&otilde;es dos Distritos </h1>
		<h2> Inscri&ccedil;&atilde;o Metodista </h2>
		</center><br/>

		{% for district in districts %}
			<div id="register_info">
				<h2>{{ district.district_name }} - Lista de igrejas</h2>
{{ district.district_church|linebreaksbr|safe|escape }}
			</div>
		{% endfor %}
<br/>

		<p id="nav">
			 &copy;
			 <script>

			  var data = new Date();
			  document.write(data.getFullYear());

			 </script>
			  - Inscri&ccedil;&atilde;o Metodista
		</p>

			<center>
			<font style="color: #464646; ">J&aacute; possui usu&aacute;rio?</font><br>
			<a style="text-decoration: none; color: #464646; font-weight: bold;"  href="/login/">Clique aqui e efetue login</a>
			</center>
	</div>


<p id="backtoblog"><a style="left: 15px; " href="#" title="About">Sobre</a><a style="right: 60px; font-weight: bold; " href="/register/">Cadastrar novo usu&aacute;rio</a> <a style="right: 15px; font-weight: bold; " href="/login/">login</a></p>

</body>
</html>

