{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}Voce recebeu este email porque solicitou mudança de senha no sistema {{ site_name }}.{% endblocktrans %}
{% trans "Por favor acesse o link abaixo e siga as instruções para configurar uma nova senha:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
{% trans "Caso você tenha se esquecido, seu usuário é:" %} {{ user.username }}
{% trans "Lembramos que você pode efetuar login com o seu email ou com o seu usuário..." %}
{% trans "Obrigado por usar o sistema!" %}
{% blocktrans %}Equipe {{ site_name }} {% endblocktrans %}
{% endautoescape %}
