<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<title> Nova senha | Inscri&ccedil;&atilde;o Metodista </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" id="register" href="{{ STATIC_URL }}css/register.css" type="text/css" media="all">
</head>


{% load i18n %}


<body class="register">
{% if form.non_field_errors or form.this_is_the_login_form.errors %}
	{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
		{{ error }}
	{% endfor %}
{% endif %}
	<div id="register">
		<center>
		<h1> {% trans "Nova senha" %} </h1> 
		<h2> Inscri&ccedil;&atilde;o Metodista </h2>
		</center>

{% if validlink %}
            {% if form.errors %}
			<h4 style="font-size: 12px; color: red;">
			<div align="center"  id="aviso"> 
				<p>Erro ao recuperar a senha</p>
			</div>  </h4> <br/>
            {% endif %}
	     <form id="formulario" method="post" action="">
          {% csrf_token %}
			<p class="aligned wide">
				<label for="id_new_password1">{% trans 'Nova senha:' %}</label><br/>
				{{ form.new_password1 }}

				{% if form.new_password1.errors %}
				<h4 style="font-size: 10px; color: red;">
				<div align="center"  id="aviso"> 
				{{ form.new_password1.errors }}
				</div></h4><br/>
				{% endif %}
            </p>
			<p class="aligned wide">
				<label for="id_new_password2">{% trans 'Confirme a nova senha:' %}</label><br/>
				{{ form.new_password2 }}

				{% if form.new_password2.errors %}
				<h4 style="font-size: 10px; color: red;">
				<div align="center"  id="aviso"> 
				{{ form.new_password2.errors }}
				</div></h4><br/>
				{% endif %}
            </p>
			<br/>
			<p class="submit">
				<input value="Definir a nova senha" tabindex="100" type="submit">
			</p>
		</form>

{% else %}
		<br>
		<h4 style="font-size: 16px; color: red;">
		<div align="center"  id="aviso"> 
			<p>Erro ao recuperar a senha</p>
			<p>Link invalido, visite o site e solicite um novo link</p>
		</div>  </h4> <br/>

{% endif %}




		<p id="nav">
			 &copy; 
			 <script>
	 
			  var data = new Date();
			  document.write(data.getFullYear());
	 
			 </script>
			  - Inscri&ccedil;&atilde;o Metodista
		</p>

			<center>
			<font style="color: #464646; ">J&aacute; possui usu&aacute;rio?</font><br>
			<a style="text-decoration: none; color: #464646; font-weight: bold;"  href="/login/">Clique aqui e efetue login</a>
			<br/><br/>
            <font style="color: #464646; ">N&atilde;o possui usu&aacute;rio ainda?</font><br>
            <a style="text-decoration: none; color: #464646; font-weight: bold;"  href="/register/">Clique aqui e cadastre um novo usu&aacute;rio</a>
            </center>
	</div>


<p id="backtoblog"><a style="left: 15px; " href="#" title="About">Sobre</a><a style="right: 60px; font-weight: bold; " href="/register/">Cadastrar novo usu&aacute;rio</a> <a style="right: 15px; font-weight: bold; " href="/login/">login</a></p>

</body>
</html>

