{% extends "base.html" %}
{% load i18n %}


{% block content %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#homeop').addClass("current_page_item");
  });
</script>

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
	{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
		{{ error }}
	{% endfor %}
{% endif %}
<!--
<style type="text/css" media="screen">
    #content { height: 200px;}
</style>
-->
<h4>Obrigado, <strong>{{ user.first_name }}&nbsp;{{ user.last_name }}</strong>,</h4>
<h5>
Sua inscrição foi realizada com sucesso!!!<br/>
Em alguns casos, é necessário esperar a confirmação do pagamento pela instituição financeira, isso pode demorar um pouco.<br/>
<br/>
<br/>
O status do seu pagamento pode ser vizualizado na tela inicial, selecionando o encontro novamente...
</h5><br/>
<a href="/" style="text-decoration: none; color: #464646; font-weight: bold;">Clique aqui para retornar ao início</a>
<br/>
<br/>
<br/>
{% endblock %}
